<div class="jumbotron h-100 p-5 text-white" id="captainsPage">
	<div id="captainsHeader">
		<img width="120px" src="kmaru-blueviolet.svg" alt="logo on captains page">
		<h3>Board Id: {{boardId}}</h3>
	</div>
	<div class="pt-2" id="captainBoard">
		<div class="row w-100 p-0 m-0">
			<div *ngFor="let placeholder of placeholderArray; index as index" class="col p-0 m-0">
				<game (cardChange)="loadCards($event)" (categoryChange)="loadCategories($event)" [index]="index"></game>
			</div>
			<div class="col p-0 m-0">
				<button class="btn btn-primary w-100 rounded-0 border" id="leaderboardButton" (click)="loadLeaderboard();">Leaderboard</button>
				<table class="table table-hover table-sm">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Points</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let player of players">
							<td>{{ player.profileName }}</td>
							<td>{{ player.info }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div *ngIf="!engaged">
			<button class="btn btn-success" (click)="engage()"><i class="fas fa-flag-checkered"></i> Engage!</button>
		</div>
	</div>

	<!--modal for current players to drop down and assign points for the specific card-->
	<div class="modal fade" tabindex="-1" role="dialog" id="ledger-modal">
		<div class="modal-dialog modal-lg ledgerModalBox" role="document">
			<div class="modal-content rounded-0 ledgerModalBox">
				<div class="modal-header captainsModalHeader rounded-0">
					<h4 class="modal-title">Assign Points</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="loadLeaderboard()">
						<span aria-hidden="true">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- actual form -->
					<form class="form-horizontal" [formGroup]="ledgerForm" novalidate>
						<div class="input-group mb-3">
							<select class="custom-select rounded-0" id="inputGroupSelect01" formControlName="select">
								<option selected>Choose a player to answer the question</option>
								<option id="activePlayer" [value]= "player.profileId" *ngFor="let player of players">{{ player.profileUsername }}</option>
							</select>
							<button type="button" class="btn btn-sm btn-success rounded-0 text-white" (click)="plus()"><i class="fas fa-thumbs-up"></i></button>
							<button type="button" class="btn btn-sm btn-danger rounded-0" (click)="subtract()"><i class="fas fa-thumbs-down"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
