<div class="container">
	<div class="row">
		<div class="col">
			<game></game>
		</div>
		<div class="col">
			<game></game>
		</div>
		<div class="col">
			<game></game>
		</div>
		<div class="col">
			<game></game>
		</div>
	</div>
</div>

<div class="container">

	<h2>Leaderboard</h2>
	<table class="table table-hover table-dark table-sm">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Points</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let player of players">
				<td>{{ player.profileName }}</td>
				<td>{{ player.info }}</td>
			</tr>
		</tbody>
	</table>
</div>


<!--<div class="modal fade" tabindex="-1" role="dialog" id="signup-modal">-->
	<!--<div class="modal-dialog modal-lg" role="document">-->

		<!--<div class="modal-content">-->

			<!--<div class="modal-header">-->

				<!--<h4 class="modal-title">Please Enter Profile information</h4>-->

				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
					<!--<span aria-hidden="true">&times;</span>-->
				<!--</button>-->

			<!--</div>-->

			<!--<div class="modal-body">-->

				<!--&lt;!&ndash; actual form &ndash;&gt;-->
				<!--<form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="createSignUp();" novalidate>-->
					<!--<div class="input-group mb-3">-->
						<!--<form [formGroup]="selectForm" (submit)="dropdownId();">-->
							<!--<select class="custom-select" id="inputGroupSelect01" formControlName="select">-->
								<!--<option selected>Choose...</option>-->
								<!--<option [value]= "category.categoryId" *ngFor="let category of categories">{{ category.categoryName }}</option>-->
							<!--</select>-->
							<!--<button type="submit" id="submit" class="btn btn-primary">Select</button>-->
						<!--</form>-->
					<!--</div>-->
					<!---->
					<!--&lt;!&ndash; twitter at handle &ndash;&gt;-->
					<!--<div class="form-group">-->
						<!--<label for="atHandle" class="col-sm-2 control-label">Twitter @Handle</label>-->
						<!--<div class="col-sm-10">-->
							<!--<input type="text" id="atHandle" name="atHandle" formControlName="atHandle" class="form-control">-->
						<!--</div>-->
					<!--</div>-->
					<!---->

					<!--&lt;!&ndash; users profile email&ndash;&gt;-->
					<!--<div class="form-group">-->
						<!--<label for="email" class="col-sm-2 control-label">Email Address </label>-->
						<!--<div class="col-sm-10">-->
							<!--<input type="email" id="email" name="email" class="form-control input-sm" formControlName="email">-->
						<!--</div>-->
					<!--</div>-->

					<!---->

					<!--&lt;!&ndash; Submit button &ndash;&gt;-->
					<!--<button type="submit" id="submit" name="signUp" class="btn btn-info">Submit</button>-->
				<!--</form>-->
			<!--</div>-->

			<!--<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">-->
				<!--<button type="button" class="close" aria-label="Close" (click)="status = null;"><span-->
					<!--aria-hidden="true">&times;</span></button>-->
				<!--{{ status.message }}-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->