<div class="container">
	<div class="row">
		<div class="col">
			<game></game>
		</div>
		<div class="col">
			<game></game>
		</div>
		<div class="col">
			<game></game>
		</div>
		<div class="col">
			<game></game>
		</div>
	</div>
</div>

<div class="container">

	<h2><button (click)="loadLeaderboard();"><i class="fas fa-redo"></i> Leaderboard</button></h2>
	<table class="table table-hover table-dark table-sm">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Points</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let player of players">
				<td>{{ player.profileName }}</td>
				<td>{{ player.info }}</td>
			</tr>
		</tbody>
	</table>
</div>

<!--modal for current players to drop down and assign points for the specific card-->
<div class="modal fade" tabindex="-1" role="dialog" id="ledger-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Ledger Information</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- actual form -->
				<form class="form-horizontal" [formGroup]="ledgerForm" novalidate>
					<div class="input-group mb-3">
							<select class="custom-select" id="inputGroupSelect01" formControlName="select">
								<option selected>Choose a player to answer the question</option>
								<option id="activePlayer" [value]= "player.profileId" *ngFor="let player of players">{{ player.profileUsername }}</option>
							</select>
							<button type="button" class="btn btn-success btn-sm" (click)="plus()">+</button>
							<button type="button" class="btn btn-danger btn-sm" (click)="subtract()">-</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>