<div class="d-flex align-items-center flex-column justify-content-center h-100 text-white" id="optionsBackground">
	<div class="container" id="optionsForm">
		<div class="row align-items-center justify-content-center">
				<button (click)="captainOption()" type="button" class="btn btn-primary btn-lg w-100 rounded-0 mb-5 py-3" id="createBoardButton">
					Create Board
				</button>
		</div>
		<form name="joinForm" id="joinForm" [formGroup]="joinForm" (submit)="studentOption();" class="form-horizontal"
				novalidate>
			<div class="row align-items-center justify-content-center">
				<div class="input-group">
					<input type="string" class="form-control rounded-0" id="id" name="id" formControlName="id" placeholder="You must get the board Id from your instructor!">
					<span class="input-group-btn">
        <button class="btn btn-lg rounded-0 py-3" type="submit" id="joinBoardButton" [disabled]="joinForm.invalid">Join Board</button>
      </span>
				</div>
				<div *ngIf="joinForm.controls.id?.invalid && joinForm.controls.id?.touched" class="alert alert-danger" role="alert">
					<div *ngIf="joinForm.controls.id?.errors.required">Board Id Required.</div>
					<div *ngIf="joinForm.controls.id?.errors.maxlength">Invalid ID Length.</div>
					<div *ngIf="joinForm.controls.id?.errors.minlength">Invalid ID Length.</div>

				</div>
			</div>
		</form>
	</div>
</div>

