<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<base href="<%= process.env.BASE_HREF %>" />


	<title>K Maru</title>
	</head>
	<body class="sfooter">
	<pubnub-open-a-channel>Loading&hellip;</pubnub-open-a-channel>
	<nav class="navbar fixed-bottom d-flex align-items-center flex-column justify-content-center" id="mainFooter">
     <span class="navbar-brand">&copy; KMARU 2018</span>
   </nav>
</body>
</html>