<div class="jumbotron jumbotron-fluid">
	<div class="row align-items-center justify-content-center">
		<h1 class="display-3">Sign In</h1>
	</div>
	<form>
		<div class="row align-items-center justify-content-center">
			<div class="form-group col-4">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
						 placeholder="Enter email">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
						 placeholder="Enter password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>