<div class="input-group m-0 pr-2 pb-2">
	<form class="w-100" [formGroup]="selectForm" (submit)="dropdownId();">
		<select class="custom-select rounded-0" id="inputGroupSelect01" formControlName="select">
			<option [value]="category.categoryId" *ngFor="let category of categories">{{ category.categoryName }}</option>
		</select>
		<button type="submit" id="categorySubmit" class="btn btn-primary w-100 rounded-0 border">Get Cards</button>
	</form>
</div>

<div class="py-1 pr-2" id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let card of cards;index as $index">
	<div class="card rounded-0" [class]="getCardClass($index)" (click)="grabCard(card);">
		<div class="card-header" role="tab">
			<h5 class="mb-0">
				<a class="collapsed text-white" data-toggle="collapse" data-parent="#accordion"
					[href]="'#' + card.cardId + 'question'">
					<h1 class="d-inline">{{card.cardPoints}}</h1>
				</a>
				<button class="" data-toggle="modal" data-target="#ledger-modal"
						  [class]="card.cardId" id="modalButton" *ngIf="availableCards[$index]"><h6>Assign Points</h6>
				</button>
			</h5>
		</div>
		<div [id]="card.cardId + 'question'" class="collapse" role="tabpanel" *ngIf="availableCards[$index]">
			<div id="accordionQAndA" role="tablist" aria-multiselectable="true">
				<div class="card rounded-0 jeopardyCard" (click)="grabCard(card);">
					<div class="card-header" role="tab">
						<h5 class="mb-0">
							<a class="collapsed text-white" data-toggle="collapse" data-parent="#accordion"
								[href]="'#' + card.cardId + 'answer'">
								{{card.cardQuestion}}
							</a>
						</h5>
					</div>
					<div [id]="card.cardId + 'answer'" class="collapse" role="tabpanel">
						<div class="card-block text-dark jeopardyAnswer">
							<p>{{card.cardAnswer}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


