board view




{{boardId}}

			<div class="input-group mb-3">
				<form [formGroup]="selectForm" (submit)="dropdownId();">
					<select class="custom-select" id="inputGroupSelect01" formControlName="select">
						<option selected>Choose...</option>
						<option [value]= "category.categoryId" *ngFor="let category of categories">{{ category.categoryName }}</option>
					</select>
					<button type="submit" id="submit" class="btn btn-primary">Select</button>
				</form>
			</div>

			<div id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let card of cards">
				<div class="card" (click)="grabCard(card);">
					<div class="card-header" role="tab" id="1">
						<h5 class="mb-0">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" [href]="'#' + card.cardId">
								{{card.cardQuestion}} {{card.cardPoints}}
							</a>
							<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#ledger-modal" [class]="card.cardId">&nbsp;modal</button>
						</h5>
					</div>
					<div [id]="card.cardId" class="collapse" role="tabpanel">
						<div class="card-block">
							<p>{{card.cardAnswer}}</p>
						</div>

					</div>
				</div>
			</div>





