board view


<div class="container">
	<div class="row">
		<div class="col-md-3 border" *ngFor="let category of categories">
			<div class="border-bottom category-name">{{ category.categoryName }}</div>
			<div id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let card of cards">

				<div class="card">
					<div class="card-header" role="tab" id="1">
						<h5 class="mb-0">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" [href]="'#' + card.cardId">
								{{card.cardQuestion}} {{card.cardPoints}}
							</a>
						</h5>
					</div>
					<div [id]="card.cardId" class="collapse" role="tabpanel">
						<div class="card-block">
							<p>{{card.cardAnswer}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

