<phpunit>
	<testsuites>
		<testsuite name="Kmaru Test">
			<file>ProfileTest.php</file>
			<file>CategoryTest.php</file>
			<file>CardTest.php</file>
			<file>BoardTest.php</file>
			<file>LedgerTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>