html, body {
	height:100%;
	padding-bottom: 60px;
	overflow: auto;
}

.sfooter {
	height: 100%;
}

.jumbotron {
	height:100vh;
	padding: 0;
	margin: 0;
}

.border-bottom.category-name {
	height: 70px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.border-bottom:last-child {
	border: none!important;
}

#mainFooter {
	height: 60px;
}

/*button {*/
	/*animation: colorchange 50s; !* animation-name followed by duration in seconds*!*/
	/*!* you could also use milliseconds (ms) or something like 2.5s *!*/
	/*-webkit-animation: colorchange 50s; !* Chrome and Safari *!*/
/*}*/

/*@keyframes colorchange*/
/*{*/
	/*0%   {background: red;}*/
	/*25%  {background: yellow;}*/
	/*50%  {background: blue;}*/
	/*75%  {background: green;}*/
	/*100% {background: red;}*/
/*}*/

/*@-webkit-keyframes colorchange !* Safari and Chrome - necessary duplicate *!*/
/*{*/
	/*0%   {background: red;}*/
	/*25%  {background: yellow;}*/
	/*50%  {background: blue;}*/
	/*75%  {background: green;}*/
	/*100% {background: red;}*/
/*}*/


/*sign in and sign up card*/

.homePage {
	box-shadow: 0 0 30px black;
	color: mediumturquoise;
}

.tab-content {
	padding-top: 3rem;
	padding-bottom: 1rem;
	background-color: blueviolet;
}

.nav-tabs .nav-link.active {
	background-color: blueviolet;
	color: white;
}

a.nav-link {
	color: blueviolet;
}

.card-img-top {
	padding: 3rem;
	height: 20rem;
}

#signInBtn {
	width: 100%;
	margin-top: 2rem;
	background: white;
	color: blueviolet;
}

#signUpBtn {
	width: 100%;
	margin-top: 2rem;
	background: white;
	color: blueviolet;
}

.alert {
	background-color: transparent;
	color: darkred;
	padding: 0;
	border: none;
	width: 100%;
	text-align: left;
}


/*options*/
#optionsBackground {
	background-color: white;
}

#optionsForm {
	width: 50%;
}

#createBoardButton {
	display: inline-block;
	background-color: blueviolet;
	border: none;
}

#joinBoardButton {
	background-color: blueviolet;
	color: white;
}

/*joined*/
#badgeLogo {
	height: 50%;
}

#header {
	height: 100%;
	background: linear-gradient(to bottom, blueviolet 50%, white 50%) no-repeat;
}

#joinedBackground {
	background-color: blueviolet;
}

/*fixed bottom navbar*/

.navbar.fixed-bottom {
	background-color: blueviolet;
	color: white;
}

.navbar-brand {
	font-size: small;
}

/*captains view*/
#captainsPage {
	padding-bottom: 60px;
	background-color: white;
}

#captainsHeader img {
	float: right;
	margin: 0 2em 2em 0;
}

#categorySubmit {
	background: blueviolet;
}

#leaderboardButton {
	width: 100%;
	background-color: blueviolet;
}

thead th {
	background-color: transparent;
	color: blueviolet;
	border-bottom: solid 1px blueviolet;
}

tbody td {
	color: blueviolet;
}

#modalButton {
	float: right;
	background-color: white;
	color: blueviolet;
	margin: 0;
}

#modalButton h6 {
	margin: 0;
}

.jeopardyCard {
	background-color: blueviolet;
}

.jeopardyAnswer {
	background-color: white;
	color: blueviolet;
	height: 100%;
}

#captainsHeader {
	color: blueviolet;
}

/*modal*/
.ledgerModalBox {
	background-color: blueviolet;
	color: white
}

.captainsModalHeader {
	background-color: white;
	color: blueviolet;
}

